<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FireSharp" version="2.0.4" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net48" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net481" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net48" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net48" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net48" />
</packages>